
:root {
  --color-cursor: 220, 90, 90;
  --cursor-outline-shade: 0.3;
  --cursor-size: 45px;
  --cursor-outline-size: 22px;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #121e32;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: rgba(255, 255, 255, 0.5);
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --light-blue: #9cc9e3;
}

.carousel-projects {
  width: 75%;
  margin: 0 auto;

  // mobile 425
  @media (max-width: 425px) {
    width: 99%;
  }
}

#projects {
  padding-top: 6.6rem;
}

.carousel .control-prev.control-arrow:before {
    color: #57dbff !important;
    border-right: 0 !important;
    content: "《" !important;
    font-size: 4rem;
    // small screens 475
    @media (max-width: 475px) {
      display: none !important;
    }
}

.carousel .control-next.control-arrow:before {
    color: #57dbff !important;
    border-left: 0 !important;
    content: "》" !important;
    font-size: 4rem;
    // small screens 475
    @media (max-width: 475px) {
      display: none !important;
    }
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    border-top: 20px solid transparent !important;
    border-bottom: 20px solid transparent !important;
}

.control-arrow:hover {
  opacity: .9 !important;
  background-color: transparent !important;
}

.project-image {

  // change image offset to bottom
  background-position: center top;
}

.modal-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.692);
  z-index: 1040;
}

.modal-content-wrapper::-webkit-scrollbar {
  display: none !important;
}

.modal-content-wrapper {
  position: fixed;
  width: 90%;
  min-height: 50%;
  max-height: 80%;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(182, 202, 224, 0.856);
  z-index: 1050;
  overflow: scroll;

  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  overflow: -moz-scrollbars-none !important; /* Firefox */

  // tablet & desktop
  @media (max-width: 768px) {
    width: 90%;
  }

  // mobile 425
  @media (max-width: 425px) {
    width: 97%;
    max-height: 90%;
    min-height: 40%;
    height: 90%;
    padding-top: 30px;
    padding-bottom: 15px;
    letter-spacing: 0.09rem;
    font-size: 1.3rem;
    padding-left: 5px;
    padding-right: 10px;
  }
}


.modal-content {
  border-radius: 2rem;
  border: 0px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: "1fr 50px 100px 50px 1fr";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.whole-modal {
  grid-area: 1 / 1 / 6 / 6;
}

.title-modal {
  grid-area: 1 / 2 / 2 / 5;
}

.content-in-modal {
  grid-area: 2 / 2 / 4 / 5;
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer-modal {
  grid-area: 4 / 2 / 6 / 5;
}


/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 473px) and (max-width : 768px) {

  .grid {
    grid-template-columns: repeat(1, 100px);
    grid-template-rows: "1fr 50px 100px 50px 1fr";
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    display: grid;
  }

  .whole-modal {
    grid-area: 1 / 1 / 5 / 3;
  }

  .title-modal {
    grid-area: 1 / 1 / 2 / 3;
  }


  .content-in-modal {
    grid-area: 2 / 1 / 3 / 3;
  }

  .footer-modal {
    grid-area: 3 / 1 / 4 / 3;
  }

  .button-team {
    min-width: 80px;
    min-height: 80px;
    font-size: 0.78rem;
    margin: 5px;
  }

  #modal-title {
    font-size: 2.3rem;
  }

}


@media only screen and (min-width : 768px) and (max-width: 3000px) {

  .grid {
    grid-template-columns: repeat(1, 100px);
    grid-template-rows: "1fr 50px 100px 50px 1fr";
  }

  .whole-modal {
    grid-area: 1 / 1 / 5 / 3;
  }

  .title-modal {
    grid-area: 1 / 1 / 1 / 6;
  }


  .content-in-modal {
    grid-area: 2 / 1 / 2 / 6;
  }

  .footer-modal {
    grid-area: 4 / 1 / 6 / 6;
  }

  #scrollbox {
    width: 100%;
  }

  .button-team {
    min-width: 100px;
    min-width: 100px;
    min-height: 100px;
    font-size: 1.2rem;
    margin: 5px;
  }

}


// landscape
@media only screen and (min-width: 500px) and (max-height : 560px) {

  .grid {
    grid-template-columns: repeat(1, 100px);
    grid-template-rows: "1fr 50px 100px 50px 1fr";
  }

  .whole-modal {
    grid-area: 1 / 1 / 5 / 3;
  }

  .title-modal {
    grid-area: 1 / 1 / 1 / 6;
  }

  .content-in-modal {
    grid-area: 2 / 1 / 2 / 3;
  }

  .button-team {
    min-width: 80px;
    min-height: 80px;
    font-size: 0.88rem;
    margin: 5px;
  }

  .footer-modal {
    grid-area: 2 / 3 / 2 / 6;
  }

  #modal-title {
    padding-bottom: 1%;
    padding-top: 1%;
  }
}

@media only screen and (min-width : 270px) and (max-width : 472px) {
  .button-team {
    min-width: 70px;
    min-height: 70px;
    font-size: 0.62rem;
    margin: 5px;
  }

  .footer-modal {
    display: none
  }

  #scrollbox {
    display: none
  }

  #modal-title {
    font-size: 1.2rem;
  }
}

.MuiTabs-indicator {
  background-color: #7dc0ff !important;

 @media (max-width: 425px) {
    display: none;
  } 
}

.Mui-selected {
  color: #7dc0ff !important;
}

#experience {
  padding-left: 15%;
  min-height: 60vh;
}

.experience-job-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Space Grotesk", sans-serif;
  color: var(--lightest-slate);

  @media (max-width: 425px) {
    font-size: 13px !important;
  }
}

.experience-job-company {
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  color: var(--light-blue);
  font-weight: bold;

  @media (max-width: 425px) {
    font-size: 13px !important;
  }
}

.experience-job-duration {
  font-size: 16px;
  color: var(--slate);
  font-family: "Space Grotesk", sans-serif;

  @media (max-width: 425px) {
    font-size: 12px !important;
  }
}

.job-description li::before {
  content: "▹    ";
  color: var(--light-blue);
  position: absolute;
  left: 0;

  @media (max-width: 425px) {
    display: none;
  }
}

.job-description li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 16px;
  font-size: 15px;
  color: var(--slate);

  @media (max-width: 425px) {
    font-size: 12px;
    padding-left: 0;
  }
}

.job-description {
  padding-top: 24px;
  max-width: 650px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
}

.job-description a,
.job-description b {
  font-size: 19px;
  font-weight: bold;
}

#vertical-tabpanel {
  margin-top: -28px;
  padding-left: 25px;
}

.MuiTab-wrapper {
  font-size: 20px;
  text-align: left;
  align-items: flex-start !important;
  font-family: "font-family: "Space Grotesk", sans-serif;", sans-serif;
}

.MuiButtonBase-root {
  outline: none !important;
  font-family: "font-family: "Space Grotesk", sans-serif;", sans-serif;
  color: var(--slate) !important;
  font-size: 12px !important;
  text-align: left !important;
  align-items: flex-start !important;
  width: 250px !important;
  font-weight: 100 !important;
  letter-spacing: 1.05px !important;

  @media (max-width: 769px) {
    width: 50% !important;
    min-width: 300px !important;
  }

  @media screen and (max-width: 430px) {
    width: 50% !important;
    min-width: 400px !important;
    font-size: 12px !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  @media screen and (max-width: 430px) {
    width: 50% !important;
    min-width: 450px !important;
  }

  @media screen and (max-width: 430px) {
    width: 50% !important;
    min-width: 500px !important;
    font-size: 12px !important;
  }
}

.MuiBox-root {
  margin-top: 10px;
  padding-top: 0;
  margin-left: 0.98rem !important;

  @media screen and (max-width: 425px) {
    padding-left: 0 !important;
  }
}

.MuiButtonBase-root:focus {
  color: var(--light-blue) !important;
}

@media only screen and (max-width: 600px) {
  #experience {
    padding-left: unset;
    padding-right: unset;
  }

  .experience-job-title {
    font-size: 22px;
  }

  .experience-job-company {
    font-size: 22px;
  }
}

/* Cursor Outline */
#cursor-dot-outline {
  z-index: 1100;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

#cursor-dot-outline {
  width: var(--cursor-outline-size);
  height: var(--cursor-outline-size);
  border: solid rgb(255, 173, 199);
  border-width: 0.09rem !important;

  @media (max-width: 768px) {
     background: none !important;
  }
}


/* Animation */

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

#circle-p5 .p5Canvas {
  width: 400px !important;
  height: 100% !important;
}

.hero-title {
    background: linear-gradient(
      90deg,
      rgb(62, 136, 178) 65%,
      rgb(115, 192, 247) 1%
    );
    background-size: 200% auto;
    font-weight: 600;
    background-clip: text;
    font-family: "Poppins", sans-serif;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }